body{
    color: white;
    background-color: #EBEBEB;
}
a{
    color: white;
    text-decoration: none;
}
/* Global view */
.container{
    
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

header{
    background-color: rgb(65, 60, 60);
    min-height: 100px;
    
    
    

}

.headerbox{
    /* background-color: blueviolet; */
    min-height: 100px;
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}





.col{
    background-color: rgba(0, 255, 255, 0.842);
    width: 30%;
    margin-bottom: 30px;
}
.hide-destop-only{
    display: none;
}
.col p{
    
    font-size: 0.875rem;
    padding: 10px 20px;
    line-height: 1.25rem;
}
.col img {
    width: 100%;
    height: auto;
}

.col p::first-line{
    font-weight: 700px;

}

.mybutton{
    padding: 10px 25px;
    border-width: 1px;
    border-style: solid;
    margin-left: 20px;

}



/* Tablet view */
@media(max-width: 768px){
.col{
    width: 45%;
   }

.hide-destop-only{
    display: block;
}

}

/* Mobile view */

@media(max-width: 400px){
   
   .col {width: 100% ;}
   
   .hide-mobile{
    display: none;
   }

}